#client-nav{
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  height: 40px;
  margin: 10px 0;
}
button{
  width: 80px;
  font-size: medium;
  color: rgb(108, 224, 54);
}

.main{
  padding: 100px;
}
mat-form-field{
}
