#welcome{
  height: 50px;
  background: rgb(31, 218, 124);
  font-size: 30px;
  color: white;
}
#welcome>p{
  margin: auto;
}

#s-time{
  font-size: 30px;
  pointer-events: none;
}

mat-toolbar#nav-bar{
  display: flex;
  justify-content: space-between;
}
input#search{
  width: 160px;
  height: 20px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 17px;
  color: #585858;
  border-left: 5px solid rgb(17, 209, 90);
  transition: width .5s;
  float: right;
}
input#search:focus , input#search:valid{
  width: 320px;
}
.search{
  width: 320px;
}
button.link-btn{
  font-size: 20px;
  color: black;
  border-radius: 0;
}

.link-btn1{
  margin-right: 5px;
}
.link-btn2{
  margin-left: 5px;
}
.active{
  border-bottom: 2px solid  rgb(17, 209, 90);
}
mat-chip-list{
  margin: auto;
  width: 750px;
  /* overflow: hidden; */
  position: relative;

}
#left-arrow{
  position: absolute;
  left: 0;
  top: 0;
}
#right-arrow{
  position: absolute;
  right: 0;
  top: 0;
}
mat-icon{
  height: 100%;
}
.search-res{
  margin: 0 auto;
}

#banner-res{
  margin: 15px 0;
}
